# Укажите API-ключ или IAM-токен. Достаточно одного способа авторизации.
YANDEX_API_KEY=
YANDEX_IAM_TOKEN=
YANDEX_FOLDER_ID=

# Голос TWG
YANDEX_VOICE=ermil
YANDEX_EMOTION=good
YANDEX_SPEED=1.0
YANDEX_FORMAT=mp3
