# Укажите один из двух вариантов авторизации.
YANDEX_API_KEY=
YANDEX_IAM_TOKEN=

# При необходимости укажите ID каталога Yandex Cloud.
YANDEX_FOLDER_ID=

TTS_VOICE=ermil
TTS_EMOTION=good
TTS_SPEED=1.0
