# Один из вариантов авторизации:
YANDEX_API_KEY=
# YANDEX_IAM_TOKEN=

# Если используете пользовательский IAM-токен, укажите ID каталога.
# Для сервисного аккаунта folderId обычно не нужен.
YANDEX_FOLDER_ID=

# Озвучка курса
TTS_VOICE=ermil
TTS_EMOTION=good
TTS_SPEED=1.0
TTS_FORMAT=mp3
